# Laravel関連
/vendor/
/node_modules/
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json

# エディタ / OS / その他
.phpunit.result.cache
.phpactor.json
auth.json
/.DS_Store
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
Thumbs.db

/public/build
/storage/pail
